body {
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 65vw;    
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}
header h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    width: 40%;
}
#inspirationDrp {
    grid-column-start: 1;
}

#abtDev {
    grid-column-start: 2;
}

#reset {
    width: 5%;
    position: absolute;
    top: 6%;
    left: 4%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: end;
    height: 75vh;
    /* margin-top: 5rem; */
}

#clickMultiplierSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

#multiplierPurchase {
    width: 15vw;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 auto;
    position: relative;
    left: 15%;
    top: 5%;
}

#multiplierPurchase.available:hover {
    transform: scale(1.1);
}

#multiplierDiv {

    position: absolute;
    width: 15%;
    top: 42%;
    left: 12.5%;
    padding: .5em;
}

#multiplierInfo {
    position: absolute;
    width: 15%;
    left: 12.4%;
    top: 53%
}

#multiplierPurchase.unavailable:hover #multiplierInfo {
    display:grid;
}

#donutClickerSection {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
}

#make {
    width: 30vw;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 auto;
    position: relative;
    top: -10%;
}

#countDiv {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    min-width: 12%;
    top: 76%;
    left: 42%;
    padding: .5em;
}

#countText {
    grid-row-start: 1;
}

#clickValue {
    grid-row-start: 2;
}


#autoClickerSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

#autoClickerSection img {
    width: 13vw;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0 auto;
    position: relative;
    right: 30%;
    top: 10%;
}

#autoClickerSection img.available:hover {
    transform: scale(1.02);
}



#autoClickerDiv {
    position: absolute;
    width: 15%;
    top: 35%;
    right: 2.5%;
    padding: .6em;
}

#autoClickerInfo {
    position: absolute;
    width: 15%;
    right: 17.5%;
    top: 57%;
}

#autoClickerSection img.unavailable:hover #autoClickerInfo {
    display: grid;
}