@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&family=Work+Sans:wght@100;200&display=swap');

* {
  margin: 0;
}

body {
  background-image: url("/images/Bakery\ 1.jpg");
  background-size: 250vh;
  /* background-color: black; */
  background-repeat: no-repeat;
}

header {
  background-color: rgb(248, 191, 201) ;
  color: purple;
  border: solid rgb(252, 240, 240) 15px;
  border-radius: 5px;
}

header h1 {
  font-family: 'Oleo Script', cursive;
  background-color: rgb(248, 191, 201) ;
  color: purple;
  /* border: solid rgb(252, 240, 240) 15px; */
  padding: 16px;
  font-size: 40px;
  margin-bottom: -20px;
}

.dropbtn {
    font-family: 'Taviraj', serif;
    background-color: transparent ;
    color: purple;
    padding: 2px;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    
    /* display: inline-block; */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;

    transform: translate(-64px, 0px);
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
    background-color: rgb(248, 191, 201) ;
    min-width: 160px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p, a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    transform: scale(1.2);
  }
    
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    transform: scale(1.2);
    /* background-color: #3e8e41; */
    /* border: solid white; */
  }

  .hidden {
    display: none;
  }

  .unavailable {
    filter: grayscale() blur(5px);
  }

  .unavailable:hover {
    filter: grayscale() blur(9px);
  }

  .available {
    filter: none;
  }

  #reset {
    cursor:pointer;
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
    text-align: center;
  }

  #reset:hover {
    transform: scale(1.1);
  }

  .container {
    cursor: url("/images/OvenMit.png");
  }

  #make:hover {
    transform: scale(1.05);
  }
  #multiplierPurchase {
    cursor: pointer;
  }
  #multiplierDiv {
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
  }

  #multiplierInfo {
    pointer-events: none;
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
    padding: 10px;
  }

  #make {
    cursor:pointer;
  }
  #countDiv {
    pointer-events: none;
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
  }

  #autoClickerSection img {
    cursor: pointer;
  }

  #autoClickerDiv {
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
  }

  #autoClickerInfo {
    pointer-events: none;
    background-color: rgb(248, 191, 201) ;
    color: purple;
    border: solid rgb(252, 240, 240) 15px;
    border-radius: 5px;
    padding: 10px;
  }