@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&family=Work+Sans:wght@100;200&display=swap');

* {
  margin: 0;
}
body {
  background-image: url("/images/Bakery\ 1.jpg");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}

header {
  background-color: rgb(248, 191, 201) ;
  color: purple;
  border: solid rgb(252, 240, 240) 15px;
  border-radius: 5px;
}

header h1 {
  font-family: 'Oleo Script', cursive;
  background-color: rgb(248, 191, 201) ;
  color: purple;
  /* border: solid rgb(252, 240, 240) 15px; */
  padding: 16px;
  font-size: 40px;
  margin-bottom: -20px;
}

.dropbtn {
    font-family: 'Taviraj', serif;
    background-color: transparent ;
    color: purple;
    /* border: solid rgb(252, 240, 240) 15px; */
    padding: 16px;
    font-size: 24px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    transform: scale(1.2);
    /* background-color: #3e8e41; */
    /* border: solid white; */
  }

  header h1 {

  }

  #make {
    border: none;
    background-color: transparent;
  }


  #makeA img:hover {
    transform: scale(1.1);
  }
